:root {
  --heading-font: "Poppins", sans-serif;
  --paragraph-font: "Open Sans", sans-serif;
  --footer-bg: hsl(192, 100%, 9%);
  --header-bg: hsl(193, 100%, 96%);
  --buttons-color: hsl(322, 100%, 66%);
  --paragraph-color: hsl(208, 11%, 55%);
}

@media (max-width: 768px) {
  header {
    background-image: url(src/bg-hero-mobile.svg);
  }
  .right-img img {
    max-width: 300px;
    margin-top: 15px;
  }

  nav {
    display: flex;
    justify-content: space-between;
  }
  .logo-img img {
    width: 150px;
  }
}
body {
  margin: 0;
  user-select: none;
}
header {
  background-image: url(src/bg-hero-desktop.svg);
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-color: #edfbfd;
  background-size: cover;
  background-blend-mode: multiply;
  background-position: center;
  padding-bottom: 35px;
}

.try-it {
  padding: 8px 30px;
  border: none;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 600;
  color: var(--footer-bg);
  background-color: white;
  box-shadow: 2px 2px 4px #afb9c1;
  font-family: var(--paragraph-font);
  cursor: pointer;
}
.header-container {
  display: flex;
  justify-content: space-between;
  padding: 35px 35px;
  flex-wrap: wrap;
  align-content: center;
}
.mock-up-img {
  max-width: 650px;
  height: auto;
  object-fit: cover;
}
h1 {
  font-size: 3em;
  font-family: var(--heading-font);
  margin-top: 0;
}
.header-text {
  color: var(--footer-bg);
  font-size: 18px;
  font-family: var(--paragraph-font);
  font-weight: 500;
}
.pink-btn {
  background-color: var(--buttons-color);
  color: white;
  border: none;
  padding: 12px 35px;
  border-radius: 19px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.pink-btn:hover {
  background-color: white;
  color: var(--buttons-color);
}
